# DATASET_BUILDING_FOR_SCENARIO_1
---
**10.05.2019**

## 1. Imports

In [38]:
import numpy as np
import pandas as pd
from pprint import pprint
from datetime import datetime
import pickle
import ast
import time
import heartpy as hp
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

## 2. Settings

In [2]:
# BITALINO

BITALINO_COLUMNS_TO_USE = [5, 6]
BITALINO_COLUMN_NAMES = [
    "EKG", 
    "GSR"
]
BITALINO_SAMPLING_RATE_PER_SEC = 1000

# PROCEDURE

PROCEDURE_COLUMNS_TO_USE = [2, 3, 4, 5, 6, 7, 8, 9]
PROCEDURE_COLUMN_NAMES = [
    "CONDITION",
    "SPEC_CONDITION",
    "SOUND_NUM",
    "IMAGE_NUM",
    "WIDGET_TYPE",
    "WIDGET_RESPONSE",
    "RESPONSE_TIME",
    "TIMESTAMP"
]

# FILE MAP

FILE_MAP_NAME = "file_map"

## 3. Loading of general data

In [3]:
IAPS_data = pd.read_csv("./data/IAPS.csv",sep=";")
IADS2_data = pd.read_csv("./data/IADS2.csv",sep=";")
NEOFFI_data = pd.read_csv("./data/NEO-FFI.txt",sep="\t")

## 4. General data preprocessing

### 4.1. IPAS

In [4]:
def preprocess_IAPS(data):
# Convert to int and if it fails, delete the row
    data['IAPS'] = pd.to_numeric(data['IAPS'], errors='coerce')
    data = data.dropna(subset=['IAPS'])
    data['IAPS'] = data['IAPS'].astype('int')

    data['ValenceMean'] = data['ValenceMean'].apply(lambda x: x.replace(',','.')).astype(float)
    data['ValenceSD'] = data['ValenceSD'].apply(lambda x: x.replace(',','.')).astype(float)
    data['ArousalMean'] = data['ArousalMean'].apply(lambda x: x.replace(',','.')).astype(float)
    data['ArousalSD'] = data['ArousalSD'].apply(lambda x: x.replace(',','.')).astype(float)
    return data.drop(["Description", "set"], axis=1)

In [5]:
IPAS = preprocess_IAPS(IAPS_data)

/home/skalskip/Documents/REPOS/ImaBoss/.env/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/home/skalskip/Documents/REPOS/ImaBoss/.env/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/skalskip/Documents/REPOS/ImaBoss/.env/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/skalskip/Documents/REPOS/ImaBoss/.env/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/skalskip/Documents/REPOS/ImaBoss/.env/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [6]:
IPAS.head()

   IAPS  ValenceMean  ValenceSD  ArousalMean  ArousalSD
0  1019         3.95       1.96         5.77       1.83
1  1022         4.26       2.04         6.02       1.97
2  1026         4.09       1.91         5.61       2.23
3  1030         4.30       2.35         5.46       2.43
4  1033         3.87       1.94         6.13       2.15

In [7]:
IPAS.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1171 entries, 0 to 1193
Data columns (total 5 columns):
IAPS           1171 non-null int64
ValenceMean    1171 non-null float64
ValenceSD      1171 non-null float64
ArousalMean    1171 non-null float64
ArousalSD      1171 non-null float64
dtypes: float64(4), int64(1)
memory usage: 54.9 KB

### 4.2. IADS2

In [8]:
def preprocess_IADS2(data):
    return data.drop(["Sound"], axis=1)

In [9]:
IADS2 = preprocess_IADS2(IADS2_data)

In [10]:
IADS2.head()

   Number  ValenceMean  ValenceSD  ArousalMean  ArousalSD
0     102         4.63       2.17         4.91       1.97
1     104         4.96       1.68         5.37       1.66
2     105         2.88       2.14         6.40       2.13
3     106         3.37       1.64         6.39       1.62
4     107         5.47       2.22         5.85       1.81

In [11]:
IADS2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 5 columns):
Number         167 non-null int64
ValenceMean    167 non-null float64
ValenceSD      167 non-null float64
ArousalMean    167 non-null float64
ArousalSD      167 non-null float64
dtypes: float64(4), int64(1)
memory usage: 6.6 KB

### 4.3. Personality questionnaire results

In [12]:
def preprocess_NEOFFI(data):
    data["SEX"] = data["SEX"].apply(lambda x: x=="M").astype(int)
    return data

In [13]:
NEOFFI = preprocess_NEOFFI(NEOFFI_data)

In [14]:
NEOFFI.head()

     ID  AGE  SEX  OTW  SUM  NEU  UGD  EKST
0  1107   21    0    4    6    3    4    10
1  1153   22    0    5    3    8    3     8
2  1233   21    0    6    8    2   10     7
3  1400   22    1    4    6    6    6     5
4  1402   27    0    9    7    7    4     7

In [15]:
NEOFFI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 8 columns):
ID      79 non-null int64
AGE     79 non-null int64
SEX     79 non-null int64
OTW     79 non-null int64
SUM     79 non-null int64
NEU     79 non-null int64
UGD     79 non-null int64
EKST    79 non-null int64
dtypes: int64(8)
memory usage: 5.0 KB

### 5. Loading of raw data

### 5.1. Auxiliary functions

In [16]:
def load_data_bitalino(file_path):
    return pd.read_csv(
        file_path,sep="\t", 
        skiprows=3, 
        usecols=BITALINO_COLUMNS_TO_USE, 
        names=BITALINO_COLUMN_NAMES, 
        header=None
    )

In [17]:
def load_data_procedure(file_path):
    return pd.read_csv(
        file_path,sep="\t", 
        usecols=PROCEDURE_COLUMNS_TO_USE, 
        names=PROCEDURE_COLUMN_NAMES, 
        header=None
    )

In [18]:
def load_file_map(file_name):
    pickle_in = open(file_name,"rb")
    dictionary = pickle.load(pickle_in)
    return dictionary

In [19]:
def extract_start_time(file_path):
    metadata_str = None
    fp = open(file_path)
    
    # meta data are on the second line of the file
    for i, line in enumerate(fp):
        if i == 1:
            metadata_str = line
            fp.close()
            break
           
    # meta data starts with '# ' and ends with a new line sign
    metadata_str = metadata_str[2 : -1]
    # the meta data format is consistent with the Python dictionary
    metadata_dict = ast.literal_eval(metadata_str)
    
    # HACK: the acquired dictionary is nested but has only one key on the first level
    key_name = list(metadata_dict)[0]
    
    time_str = metadata_dict[key_name]['time']
    date_str = metadata_dict[key_name]['date']
    datetime_str = date_str + "," + time_str
    
    return time.mktime(datetime.strptime(datetime_str, "%Y-%m-%d,%H:%M:%S.%f").timetuple())

In [135]:
def spec_condition_helper(x):
    if x=='-':
        return(0)
    elif x=='0':
        return(1)
    elif x=='+':
        return(2)

### 5.2. Load file map

In [20]:
FILE_MAP = load_file_map(FILE_MAP_NAME)

### 5.3. Preproces raw data

In [262]:
def preprocess_procedure(data):
    # select only rows concerning widgets of emoscale1 type
    data = data[data["WIDGET_TYPE"] == "emoscale1"]
    
    # convert the response time to float and if the value is not correct then remove the row
    data['RESPONSE_TIME'] = pd.to_numeric(data['RESPONSE_TIME'], errors='coerce')
    data = data.dropna(subset=['RESPONSE_TIME'])
    data['RESPONSE_TIME'] = data['RESPONSE_TIME'].astype('float')
    
    # enforcing the appropriate type of columns
    data["CONSISTENT"] = data['CONDITION'].apply(lambda x: x=="con").astype(int)
    data["IMAGE_ATTRIBUTE"] = data['SPEC_CONDITION'].apply(lambda x: spec_condition_helper(x[1])).astype(int)
    data["SOUND_ATTRIBUTE"] = data['SPEC_CONDITION'].apply(lambda x: spec_condition_helper(x[3])).astype(int)
    data["WIDGET_RESPONSE"] = data["WIDGET_RESPONSE"].astype(float).astype(int)
    data["TIMESTAMP"] = data["TIMESTAMP"].astype(int)
    
    # deleting unnecessary columns
    data.drop(["CONDITION", "SPEC_CONDITION", "WIDGET_TYPE"], axis=1, inplace=True)
    return data

In [306]:
def preprocess_bitalino(data, start_time):
    # calculation of heart rate based on sensor readings
    # heart rate data are calculated on the basis of 5 seconds back and recorded every second
    working_data, measures = hp.process_segmentwise(bitalino_data["EKG"].values, 1000, segment_width = 5, segment_overlap = 0.8)
    HR = measures["bpm"]
    
    GSR = bitalino_data["GSR"].groupby(np.arange(len(bitalino_data))//1000).mean().values[5:]
    
    print(len(HR))
    print(len(GSR))
    
    new_data = pd.DataFrame({'HR': HR, 'GSR': GSR}, columns=['HR','GSR'])
    new_data["TIMESTAMP"] = start_time + 5 + new_data.index
    
    return new_data

In [307]:
start_date_time

1554967642.0

In [308]:
FILE_MAP.keys()

dict_keys(['9076', '8057', '6546', '6635', '9639', '9926', '3723', '3172', '2121', '4124', '3497', '9222', '1107', '6412', '4087', '5948', '3567', '1516', '3327', '7686', '9296', '8341', '8040', '2104', '2688', '3054', '9937', '5513', '6801', '8722', '4231', '4484', '9495', '8101', '4542', '2110', '1507', '3377', '8624', '7820', '3333', '1402', '2070', '4830', '7957', '9744', '2669', '8909', '2006', '6111', '2881', '4624', '6684', '9740', '6678', '7078', '7474', '5330', '6603', '3802', '5215', '1809', '5900', '3640', '4105', '5099', '7630', '9702', '2428', '7311', '8002', '2103', '5648', '9695', '9952', '1153', '2900', '8803', '5924', '7777', '3264', '1233', '5104', '1437', '1400', '8958', '3872', '9899', '7250', '8500', '7020'])

In [318]:
file_paths = FILE_MAP['7020']

In [319]:
bitalino_data = load_data_bitalino(file_paths['bitalino'])
procedure_data = load_data_procedure(file_paths['procedure'])
bitalino_start_time = extract_start_time(file_paths['bitalino'])

In [320]:
procedure_data = preprocess_procedure(procedure_data)

/home/skalskip/Documents/REPOS/ImaBoss/.env/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [321]:
procedure_data.head(50)

,SOUND_NUM,IMAGE_NUM,WIDGET_RESPONSE,RESPONSE_TIME,TIMESTAMP,CONSISTENT,IMAGE_ATTRIBUTE,SOUND_ATTRIBUTE
60,817,8470,5,1.050144,1555592738,1,2,2
61,109,3261,2,0.000205,1555592755,0,0,2
62,705,2309,2,0.333498,1555592773,1,1,1
63,719,6821,1,0.800075,1555592790,1,0,0
65,310,8470,2,0.883443,1555592825,0,2,0
66,289,6263,1,1.000134,1555592843,1,0,0
67,728,2525,2,0.333472,1555592860,1,1,1
68,104,2810,2,0.350159,1555592878,1,1,1
70,420,8178,2,0.333456,1555592913,0,2,0
71,813,9423,1,0.816755,1555592930,0,0,2
72,106,6213,2,0.000206,1555592947,1,0,0
73,377,6010,2,0.283575,1555592965,1,1,1
75,110,6213,2,0.233436,1555593000,0,0,2
76,366,6263,2,0.283524,1555593017,0,0,2
77,205,9253,1,0.266817,1555593035,0,0,2
78,713,6510,1,0.650037,1555593052,1,0,0
79,601,3195,1,0.883555,1555593070,0,0,2
80,288,9325,1,1.050112,1555593087,1,0,0
81,373,9402,1,1.050176,1555593105,1,1,1
82,277,4647,2,0.233318,1555593122,0,2,0
84,134,4660,4,0.300088,1555593157,0,2,0
85,152,9468,2,0.250070,1555593175,1,1,1
86,415,9325,2,0.750102,1555593192,0,0,2
87,202,9902,1,0.750181,1555593210,0,0,2
88,220,5623,4,0.600117,1555593227,1,2,2
90,291,5621,4,1.116891,1555593262,0,2,0
91,423,2683,1,0.900172,1555593279,1,0,0
92,813,8034,4,0.116862,1555593297,1,2,2
93,422,4800,4,6.100080,1555593314,0,2,0
94,170,1112,2,0.316850,1555593332,1,1,1
95,723,9926,2,0.300111,1555593349,1,1,1
97,255,9156,2,0.266803,1555593384,0,2,0
98,283,9184,1,0.250217,1555593402,1,0,0
100,216,3015,1,0.633470,1555593437,0,0,2
101,360,4656,2,0.350112,1555593454,1,2,2
102,202,4668,4,0.300096,1555593472,1,2,2
103,367,5470,4,0.383595,1555593489,1,2,2
104,501,3195,1,1.233459,1555593507,1,0,0
105,220,2683,1,0.783616,1555593524,0,0,2
106,713,7501,4,0.383198,1555593542,0,2,0
107,352,8186,4,0.516705,1555593559,1,2,2
108,378,3120,1,0.983396,1555593576,0,0,2
110,420,3005,1,2.933507,1555593611,1,0,0
111,815,9622,2,0.266833,1555593629,0,0,2
112,716,4652,4,0.383557,1555593646,1,2,2
113,353,4660,4,0.467059,1555593664,1,2,2
114,200,4697,4,3.066792,1555593681,1,2,2
115,808,3010,1,1.233470,1555593699,0,0,2
116,358,2115,2,0.933487,1555593716,1,1,1
117,120,1945,2,0.350115,1555593734,1,1,1

In [322]:
procedure_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 60 to 119
Data columns (total 8 columns):
SOUND_NUM          52 non-null int64
IMAGE_NUM          52 non-null int64
WIDGET_RESPONSE    52 non-null int64
RESPONSE_TIME      52 non-null float64
TIMESTAMP          52 non-null int64
CONSISTENT         52 non-null int64
IMAGE_ATTRIBUTE    52 non-null int64
SOUND_ATTRIBUTE    52 non-null int64
dtypes: float64(1), int64(7)
memory usage: 3.7 KB

In [323]:
len(bitalino_data)

4364400

In [ ]:
bitalino_data = preprocess_bitalino(bitalino_data, bitalino_start_time)

In [ ]:
bitalino_data.head()

In [ ]:
bitalino_data.info()

In [ ]:
bitalino_data[bitalino_data["TIMESTAMP"] == 1555401814 - 1]

In [ ]:
bitalino_data[bitalino_data["TIMESTAMP"] == 1555401814]

In [ ]:
bitalino_data[bitalino_data["TIMESTAMP"] == 1555401814 + 1]

In [ ]:
bitalino_data[bitalino_data["TIMESTAMP"] == 1555401814 + 2]

In [ ]:
bitalino_data[bitalino_data["TIMESTAMP"] == 1555401814 + 3]

In [ ]:
bitalino_data[bitalino_data["TIMESTAMP"] == 1555401814 + 15]